.single-track {
    max-width: 95vw;
    margin: 0 auto;
    
    .single-main-content {
        display: grid;
        grid-template-columns: 4fr 2fr;
        column-gap: 60px;
    
        .single-information {
            overflow-x: hidden;
            .track-video {
                iframe {
                    width: 100%;
                    height: clamp(200px, 45vw, 600px);
                    border-radius: 10px;
                }
            }
        }  
    }
}

@media (max-width: 1000px) {
    .single-main-content {
        display: flex !important;
        flex-direction: column !important;
    }
}

@media (max-width: 850px)  {
    .header-cover {
        width: 200px !important;
        height: 200px !important;
    }
    .artists-wrapper {
        justify-content: center !important;
    }

    .track-info {
        row-gap: 30px !important;
    }

}
